* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    font-family: 'Helvetica Neue', sans-serif;
}

.navbar {
    width: 100%;
    padding: 20px 0px 20px;
    background: rgb(206, 206, 206);
    text-align: center;
}

.link {
    text-decoration: none;
    color: black;
}