.custom-nav {
    top: 15px;
    left: 50%;
    transform: translateX(-50%);
}

.custom-modal {
    z-index: 1;
    position: fixed;
    width: 300px;
    display: none;
    opacity: 0;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 2px solid rgb(255, 255, 255);
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.6)
}

.custom-modal.active {

    display: block;
    animation-name: show-modal;
    animation-duration: 200ms;
    animation-fill-mode: forwards;
}

.custom-modal.inactive {
    display: block;
    animation-name: close-modal;
    animation-duration: 200ms;
    animation-direction: reverse;
    animation-fill-mode: forwards;
}

.custom-modal header {
    padding: 5px 0px 0px;
    color: white;
}

.custom-modal main {
    background: white;
}

.close-modal {
    color: white;
    justify-self: flex-end;
}

.modal-overlay {
    position: fixed;
    background: transparent;
}

.modal-overlay.active {
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.575);
}

@keyframes show-modal {
    0% {
        opacity: 0;
        transform: translate(-50%, -50%) scale(0.8, 0.8);
    }

    100% {
        opacity: 1;
        transform: translate(-50%, -50%) scale(1, 1);
    }
}

@keyframes close-modal {
    0% {
        opacity: 0;
        transform: translate(-50%, -50%) scale(0.8, 0.8);
    }

    100% {
        opacity: 1;
        transform: translate(-50%, -50%) scale(1, 1);
    }
}



/*  */

.dropdown-link{
    position: relative;
}
.dropdown-link > div {
    width: 100%;
    position: absolute;
    display: none;
    background: #dee2e6;
}
.dropdown-link:hover > div{

    display: block;
}
.dropdown-link > div ul {
    list-style: none;
    padding: 0px;
}
.dropdown-link > div ul li {
    display: block;
    text-align: center;
}